body { color: rgba(0, 0, 0, 0.8); }

/* Override Bootstrap */
a { text-decoration: none; }
.container-fluid { max-width: 800px; }

/* Utilities */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bg-gray { background-color: #dee2e6; }
